---
layout: about
title: About
sidebar: []
---

<h2>About Me</h2>

<p>
    Like any technically minded individual worth their weight in salt,  
    I'm not typically satisfied with the bare minimum. My background in 
    Mechatronics perfectly complements my greatest strengths; practicality, 
    creativity and versatility. These qualities feed my appetite to 
    understand what makes something tick and approach problems more like 
    a SwissArm Knife instead of a scalpel.
</p>
