<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="site-footer-inner">
      <div class="site-footer-container">
        <div class="site-footer-col1">
          <div>{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}</div>
          <div>Powered by <a title="Jekyll is a simple, blog-aware, static site
          generator." href="http://jekyllrb.com/">Jekyll</a> &amp; <a title="Yat, yet
          another theme." href="https://github.com/jeffreytse/jekyll-theme-yat">Yat Theme</a>.</div>
          <div class="footer-col rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
        </div>
        <div class="site-footer-col2">
          <a href="https://www.linkedin.com/in/luke-paulson-40b213123"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          <a href="https://gitlab.com/users/lpaulson/groups"><i class="fa-brands fa-gitlab fa-2xl"></i></a>
          <a href="https://www.instagram.com/castrlab/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href="mailto:luke@castrlab.com"><i class="fa-sharp fa-solid fa-envelope fa-2xl"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
